<template>
	<textarea :id="id" :name="id" v-model="field" :rows="rows"></textarea>
</template>

<script>
	export default
	{
		name:'ckeditor',
		props : ['id', 'rows', 'field', 'toolbar', 'height', 'shared'],
		data: function(){
			return{
				
			}
		}, 
		methods: {
			'teste' : function(e){
				console.log(this.field);
			},
			Init(){

				let local = this;

				if(this.shared)
				{
					var htmlElement = document.getElementById('shared');
					CKEDITOR.replace(local.id, { 
						toolbar: local.toolbar,
						height: local.height,
						sharedSpaces : {
							top: htmlElement
						}
					});
				}
				else
				{
					CKEDITOR.replace(local.id, { 
						toolbar: local.toolbar,
						height: local.height

					});
				}
			}

		},
		mounted()
		{
			let local = this;

			this.Init();

			busi.$on('reload-editor' , () =>{

				let editor = CKEDITOR.instances[local.id];
				editor.resize(editor.config.width, local.height, true, false);
			});
			
			busi.$on('ckeditor-set', (id, data) =>{
				if(local.id == id)
				{
					let editor = CKEDITOR.instances[id];

					setTimeout(() => {
						editor.resize(editor.config.width, local.height, true, false);
						editor.setData(data);

					}, 100);
				}

			});

		}
	}
</script>

<style>
</style>