<template>
	<div class="row">
		<div v-if="canUploadCheck" class="col-md-12">
			<input class="upload-control-input" v-if="!description" type="file" @change="upload($event.target)" multiple name="upload-control">
			<input class="upload-control-input-desc" @change="changeUpload($event.target)" v-if="description" type="file" name="upload-control">
		</div>
		<div class="col-md-12" v-if="description &&  hasFile && canUploadCheck">
			<span class="badge badge-primary float-right mb-1" v-text="charsLeft"></span>

			<textarea @keypress="checkLength($event)" class="form-control mt-3" v-show="description &&  hasFile" rows="3" v-model="descriptionTxt" placeholder="Enter a Description"></textarea>

			<button type="button" class="btn btn-primary w-25 mt-3 float-right" name="upload-btn" @click="upload(uploadDesc)">UPLOAD</button>
		</div>
		<div class="col-md-12">

			<ul class="list-group pt-3 uploads">
				<li class="list-group-item" v-for="(upload, index) in uploads">
					<i v-if="canDeleteCheck" class="fa fa-trash" @click="remove(index)"></i>
					<span v-text="upload.name"></span>

					<i v-if="upload.url != null && upload.url.length > 0" class="fa fa-download" @click="download(upload)"></i>
					<div class="desc" v-if="upload.description != undefined && upload.description.length > 0" v-text="upload.description"></div>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
class File {
  constructor() {
    this.id = -1;
    this.name = "";
    this.extension = "";
    this.data = "";
    this.url = "";
    this.type = "";
    this.description = "";
  }
}

export default {
  props: [
    "ext",
    "size",
    "event",
    "update",
    "entity",
    "description",
    "canDelete",
    "canUpload"
  ],
  data() {
    return {
      uploadDesc: null,
      hasFile: false,
      descriptionTxt: "",
      uploads: []
    };
  },

  computed: {
    canUploadCheck() {
      return this.canUpload == true || this.canUpload == undefined;
    },
    canDeleteCheck() {
      return this.canDelete == true || this.canDelete == undefined;
    },
    charsLeft() {
      return 255 - this.descriptionTxt.length;
    }
  },

  methods: {
    checkLength(event) {
      if (this.charsLeft == 0) event.preventDefault();
    },

    changeUpload(control) {
      if (control.files.length > 0) this.hasFile = true;
      else this.hasFile = false;
    },
    upload(control) {
      let local = this;
      window.upload = control;

      if (control.files.length > 0) {
        let files = Array.from(control.files);
        files.forEach(file => {
          let newFile = new File();
          newFile.name = file.name;
          newFile.extension = file.name.substring(file.name.lastIndexOf("."));
          newFile.type = file.type;
          newFile.size = file.size;
          newFile.description = this.descriptionTxt;

          window.ext = this.ext;
          // verify extension
          if (
            this.ext.filter(ext => {
              return ext == newFile.extension;
            }).length == 0
          ) {
            toastr.error(
              "File " +
                newFile.name +
                " has an invalid extension. Only " +
                this.ext.join(" | ") +
                " are accepted."
            );
            return;
          }
          //verify size
          if (newFile.size > this.size * 1024) {
            toastr.error(
              "File " +
                newFile.name +
                " to big. Max size is " +
                this.size / 1024 +
                "Mb are accepted."
            );
            return;
          }

          //create FileReader Object
          var reader = new FileReader();
          reader.onload = function() {
            newFile.data = reader.result;
            local.uploads.push(newFile);
            //update parent field

            busi.$emit(local.event, local.uploads);
          };

          //read the file
          reader.readAsDataURL(file);
        });
        this.hasFile = false;
        this.descriptionTxt = "";
        control.value = "";
      }
    },

    remove(index) {
      let local = this;

      swal({
        title: "Are you sure about to delete this file ?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      })
        .then(function() {
          local.uploads.splice(index, 1);
          // axios.delete('documents/' + local.trash.map(row => { return row.id }).join()).then(response =>{

          // 	if(response.data.result)
          // 	{
          // 		toastr.info(response.data.msg);
          // 		local.table.bind();
          // 	}
          // 	else
          // 		toastr.error(response.data.msg);
          // })
          // .catch(error =>{
          // 	console.log(error)
          // 	toastr.error(error.response.data.msg);
          // });
        })
        .catch(error => {
          local.selectetAll(false);
        });
    },

    download(file) {
      window.open("s3/" + this.entity + "/" + file.id, "_blank");
    }
  },
  mounted() {
    busi.$on(this.update, files => {
      this.uploads = files;
    });

    this.uploadDesc = document.getElementsByClassName(
      "upload-control-input-desc"
    )[0];

    console.log(this.canUpload);
  }
};
</script>