	.card{

		&.primary{


			.card-header{
				background-color: $section-color-1;
				color: $main-color;

				h5{
					color: $main-color;
				}

			}

			.card-body{
				background-color: white !important;

				&.controls{
					background-color:$section-color-1 !important;
				}

				&.chat{
					padding:0px !important;
					height: 392px;
					overflow-y:scroll;
				}
			}


		}
	}