.bootstrap-datetimepicker-widget table 
{
	tr{
		background-color: white;
	}
	
	th, td {
		height: initial !important;
		line-height: initial !important;
		width: initial !important;
		border-radius: initial !important;
		padding: 9px 10px;
		color: $gray-dark;

	}

	.prev, .next, .picker-switch{
		background-color:transparent !important;
		
		&:hover{
			span{

				color:$primary !important;
			}
		}
	}

	td.active,td.active:hover
	{
		background-color:$primary !important;
	}
}
