form
{	
	.is-invalid{

		.btn{
			border:1px solid $danger;
		}
		.invalid-feedback
		{
			display:block;
		}
	}

	.controls{

		@include media-breakpoint-down(sm){	
			.btn{
				width:100%;
				margin:0rem !important;

				&.btn-password{
					margin-top:1rem !important;
				}	
			}		
		}
	}
}