.slider-step
{

	list-style-type: none;
	padding: 0px;
	li{
		display:inline-block;	
		position:relative;

		@include x-user-select(none);
	}
	&.seven{
	
		li:nth-child(1){
			left:0%;
		}

		li:nth-child(2){
			left:11%;
		}

		li:nth-child(3){
			left:22%;
		}

		li:nth-child(4){
			left:33%;
		}


		li:nth-child(5){
			left:42%;
		}


		li:nth-child(6){
			left:50%;
		}


		li:nth-child(7){
			left:57%;
		}

	}
}