table{
	width:100%;
	
	@include media-breakpoint-down(sm){	
		.m-11{
			width : 11% !important;
		}
	}

	thead{

		color: white;

		.header{
			background-color:white;
			color: $gray-dark;
		}

		th{

			@include x-user-select();
			
			@include media-breakpoint-down(sm){	
				width: auto !important;


			}

			&.actions{
				cursor:auto;
				text-align:center;
			}
			
			cursor:pointer;

			&:after
			{
				content: "\f106";
				display: inline-block;
				font-family: FontAwesome;
				left: 5px;
				position: relative;
				opacity:0;

			}

			&.asc:after
			{	opacity:1;
				content: "\f106";
			}

			&.desc:after
			{	opacity:1;
				content: "\f107";
			}


		}
	}
}