.uploads{
	li{
		padding: 0.5rem 1.25rem;
		.desc{
			position: relative;
			margin-top: 8px;
			background-color: #cce8ff;
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-bottom: -8px;
			padding:1rem;
		}

		.fa-trash{
			cursor:pointer;
			font-size: 1.2rem;
			background-color: #e48683;
			opacity: 1;
			height: 40px;
			position: absolute;
			padding-top: 10px;
			width: 45px;
			padding-left: 15px;
			left: 0px;
			top: 0px;	
			color: white;
			&:hover{
				background-color: $danger;
			}
		}

		span{
			margin-left: 2.5rem;
		}

		.fa-download{
			cursor:pointer;
			font-size: 1.2rem;
			background-color: #4e9ee3;
			top: 0px;
			height: 40px;
			position: absolute;
			padding-top: 10px;
			width: 45px;
			padding-left: 15px;
			right: 0px;	
			color: white;
			&:hover{
				background-color : $primary;
			}
		}
	}
}