// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600");

$gray-dark: #292b2c;

/* toastr */
@import "~toastr/build/toastr.min.css";

/* font awesome */
@import "~font-awesome/scss/font-awesome";

/* bootstrap */
@import "~bootstrap/scss/bootstrap";

/* bootstrap select */
@import "~bootstrap-select/dist/css/bootstrap-select.css";

/* datepicker */
@import "../../../node_modules/eonasdan-bootstrap-datetimepicker-bootstrap4beta/build/css/bootstrap-datetimepicker.min.css";

/* swal */
@import "~sweetalert2/dist/sweetalert2.min.css";

/* font awesome animated */
@import "~font-awesome-animation/dist/font-awesome-animation.min.css";

/* Charts */
@import "~highcharts/css/highcharts";
@import "~jquery-ui-dist/jquery-ui.min.css";
@import "~jquery-ui-dist/jquery-ui.theme.min.css";

@import "b4Overloads";
@import "utils";
@import "loaders";
@import "mixins";
@import "slide";
@import "components/upload-control";
@import "components/splider-step";
@import "components/date-time-picker";

html {
    overflow-y: hidden;
}

html, body, #app {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif !important;
}

.app {
    height: 100%;
    overflow-x: hidden;
    width: 100%;

  
}

.locales {
    position: absolute;
    left: 163px;
    top: 21px;
    z-index: 2000;
    margin-top: -0.5rem;

    a {
        padding: 3px 6px;
        line-height: 14px;
        height: 21px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        opacity: 0.5 !important;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;

        &.active {
            opacity: 1 !important;
        }
    }
}

.badge-hr {
    position: absolute;
    top: -0.5rem;
}

.btn-back-abs {
    position: absolute;
    top: 0px;
    right: 1.1rem;
}

#contacts {
    font-size: 0.9rem;

    .btn-edit {
        position: absolute;
        right: 1rem;
        top: -0rem;
    }

    .btn-delete {
        position: absolute;
        right: 3.5rem;
        top: -0rem;
    }

    .card-header {
        height: 4rem;

        .fa {
            font-size: 1.5rem;
        }

        .name {
            position: relative;
        }

        .date {
            position: absolute;
            right: -2rem;
            top: 2.1rem;
        }

        .badge {
            position: relative;
            top: 4px;
        }

        text-transform: uppercase;
    }

    .form-group {
        margin-bottom: 0rem;

        > .w-100 {
            font-weight: bold;
        }

        &.comment-text {
            background-color: #96c8ff;
            color: #292b2d;
            padding: 1rem;
            margin-bottom: 2rem;
        }
    }
}


.badge-count {
    margin-top: -8px !important;
    margin-left: 13px !important;
    padding: 0px !important;
    position: absolute !important;
    font-size: 0.8rem !important;
    padding: 2px 4px !important;
    width: auto !important;
    display: block !important;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $primary;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #292b2c;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 10px;
    background-color: white;
}

.logout {
    margin-top: -0.5rem;
    cursor: pointer;
    color: white;
    margin-left: 1rem !important;
    position: relative;
    top: 5px;

    .fa {
        color: white;
        font-size: 1.4rem !important;
    }
}

.comments {
    margin-top: -0.5rem;
    font-size: 1.5rem;
    position: relative;
    top: -2px;
    margin-left: -23px !important;

    &.new {
        color: $danger;
    }

    .count {
        position: relative !important;
        margin-left: 1px !important;
        font-size: 0.8rem !important;
        top: -3px !important;
        margin-right: 0px !important;
    }
}

.notifications {
    height: 100%;
    z-index: 2000;
    width: 25rem;
    position: absolute;
    right: 0%;
    margin-right: -25rem;
    z-index: 2000;

    .scrollable {
        height: 100%;
        overflow-y: auto;
        position: absolute;
        width: 100%;
    }

    .list-group-item {
        border: none;
        border-radius: 0px;
        background-color: $primary;
        cursor: pointer;

        h6 {
            font-weight: bold;
        }

        color: white !important;

        &.no-messages {
            background-color: #f2f2f2 !important;
            color: $gray-dark !important;
        }

        &:nth-child(1) {
            border-top-left-radius: 5px !important;
        }

        &:last-child {
            border-bottom-left-radius: 5px !important;
        }
    }

    @include animated(all, 0.5s, ease);

    &.popup {
        margin-right: 0rem;
    }

    .first-item {
        background-color: #292b2c;

        .fa {
            color: white;
        }

        .text-first {
            color: white;
            margin-left: 1rem;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}

.card {
    .card-body {
        &.chat {
            padding: 0px !important;
            height: 400px;
            overflow-y: scroll;
        }
    }
}

.btn-default {
    color: $gray-dark;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

/* BOOSTRAP SELECT */
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select {
    width: 100% !important;

    li {
        outline: none !important;

        a, a:hover, a:focus {
            outline: none !important;
        }

        a:hover {
            color: white !important;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

/* JQUERY UI */
.ui-state-active {
    background-color: $primary !important;
}

/* TOASTR */
.toast {
    opacity: 1 !important;
}

.toast-info {
    background-color: $primary;
}

.toast-error {
    background-color: $danger;
}

.toast-success {
    background-color: $success;
}

.toast-warning {
    background-color: $warning;
}

/* BOOTSRAP SELECT */
.bootstrap-select {
    width: 100% !important;
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.form-control-feedback {
    font-size: 0.8rem;
}

.dropdown-menu {
    &.open {
        width: 100% !important;
    }
}

.dropup .dropdown-menu {
    bottom: initial !important;
}

.btn-group {
    .btn {
        opacity: 0.7;

        &.active {
            opacity: 1;
        }

        &.btn-default.active {
            opacity: 1;
            background-color: $primary !important;
            color: white;

            &.red {
                background-color: $danger !important;
            }

            &.green {
                background-color: $success !important;
            }
        }
    }
}

h2 {
    font-weight: 200;
}

input[type=checkbox] {
    transform: scale(1.3);
}

.primary {
    color: $primary;
}

.fade-in {
    opacity: 1;

    @include animated(all, 0.8s, ease);
}

.fade-out {
    opacity: 0;

    @include animated(all, 0.8s, ease);
}

.loader-2 {
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: 2002;
    width: 80px;
    height: 80px;

    .circle {
        width: 44px;
        height: 44px;
    }

    .quote {
        margin-left: 4rem;
        position: relative;
        top: -0	rem;
        color: $primary;
        width: max-content;
    }
}

#app {
    display: flex;
    height: 100%;
}

#navbar {
    display: inline-block;
    float: left;
}

#container {
    display: inline-table;
    height: 100%;
}

#navbar {
    display: table;
    background-color: $primary;
    height: 100%;
    z-index: 2000;
    position: relative;

    @include x-user-select(none);

    .title {
        position: relative;
        top: -0.3rem;
        min-width: 10rem;

        @include x-user-select(none);
    }

    .name {
        margin-left: 0px;
        font-size: 0.8rem;
        position: relative;
        top: -1rem;

        @include x-user-select(none);
    }

    .first {
        background-color: $gray-dark;
        display: inline-block;
    }

    .nav-item {
        min-height: 3.5rem;
    
        .submenu{
    
            background-color: #4da6ff;

            .expand{
    
                position: absolute;
                right: 1rem;
                margin-top: -42px;

                
            }

            ul{

                list-style-type: none;
                padding: 0rem;
                margin: 0rem;
               
                li{
                    min-height: 3rem;
                    height: 3rem;
                    padding-left: 4rem;
                   
                    a{
                        
                        font-size: 1rem;
                        margin-top: 0rem;
                        position: relative;
                        display: block;
                        top: 0.8rem;
                        color: #262a2d;
                        cursor: pointer;

                        i, span{
                            font-size: 1rem;
                        }

                        span{
                            margin-left: 1rem;
                        }

                        
                    }

                    &:hover{
                        background-color: white;

                        color: $primary;
                        a{

                            color: $primary;
                        }
                    }
                   
                }
            }
        }
        
    }

    

    .nav-link {
        color: white;
        padding: 1rem;
        display: flex;
        padding-right: 2rem;

        &.active {
            color: $gray-dark;
        }


        
    }

    i {
        font-size: 1.6rem;
        text-align: left;
        width: 0.9rem;

        &.fa-bars, &.fa-chevron-left {
            font-size: 1.9rem;
        }
    }

    a {
        color: white;

        span {
            margin-left: 1.8rem;
        }
    }
    

    .expander {
       
        float: left;
        display: none;
    }

    .collapaser {
        
        width: 100%;
        float: left;
    }

    &.collapsed {
        .submenu{
            display: none;
        }
        
        .expander {
            display: block;

            span {
                display: block !important;
            }
        }

        .locales {

            display: none !important;
        }

        .collapaser {
            display: none;
        }

        a {
            span {
                display: none;
                margin-left: 1.3rem;
            }

           
        }
    }
}

#container, #content, #content > section {
    width: 100%;
    height: 100%;
}

.navbar-toggler-icon {
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(60, 146, 202, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}
