// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600");

$gray-dark: #292b2c;
$default-color: #5c94c7;
$default-color-2: #1c1615;
$section-color-1: #1c1615;
$main-color: #fffcf5;
$main-color-alfa: rgba(255, 255, 255, 0.7);

$info: $gray-dark;
$info-ligth: #81aee0;
$info-light-2: #9dbfe6;
$info-ligth-3: #c2d8f3;
$primary: #4578b3;
$primary-color: $primary;
$primary-light: #8cb7e8;
$nav-mobile: $primary;

/* toastr */
@import "~toastr/build/toastr.min.css";

/* font awesome */
@import "~font-awesome/css/font-awesome.min.css";

/* bootstrap */
@import "~bootstrap/scss/bootstrap";

/* bootstrap select */
@import "~bootstrap-select/dist/css/bootstrap-select.css";

/* datepicker */
@import "../../../node_modules/eonasdan-bootstrap-datetimepicker-bootstrap4beta/build/css/bootstrap-datetimepicker.min.css";

/* swal */
@import "~sweetalert2/dist/sweetalert2.min.css";

/* font awesome animated */
@import "~font-awesome-animation/dist/font-awesome-animation.min.css";

// @import "loaders";
@import "utils";
@import "mixins";

@import "loaders.scss";
@import "components/table";
@import "components/date-time-picker";
@import "components/form";
@import "components/cards";
@import "components/upload-control";
@import "views/customer-dashboard";
@import "views/auth-control";
@import "views/layout";
@import "views/insurances";
@import "b4Overloads";

html, body, #app, .app, .centered-content {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif !important;

    &.modal-open {
        overflow: visible !important;
    }
}

html {
    overflow-x: hidden;
}


a {
    color: $gray-dark;
}

.modal-content {
    border-radius: 0.5rem;
}

.upper {
    position: fixed;
    z-index: 20000;
    background: $primary;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    opacity: 0;

    @include animated(all, 0.5s, ease);

    &.show {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .fa {
        padding: 0.5rem 0.8rem;
        color: white;
        font-size: 2rem;
    }
}

.navbar {
    .comments-mobile {
        margin-left: auto;
        display: none;

        .fa {
            font-size: 1.3rem;
            color: white;
        }

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.notifications {
    height: 100%;
    width: 25rem;
    position: absolute;
    right: 0%;
    margin-right: -25rem;
    z-index: 2000;

    .scrollable {
        height: 100%;
        overflow-y: auto;
        position: absolute;
        width: 100%;
    }

    .list-group-item {
        border: none;
        border-radius: 0px;
        background-color: #b7d4d2;
        color: $gray-dark;

        h6 {
            font-weight: bold;
        }

        &:nth-child(1) {
            border-top-left-radius: 5px !important;
        }

        &:last-child {
            border-bottom-left-radius: 5px !important;
        }
    }

    @include animated(all, 0.5s, ease);

    &.popup {
        margin-right: 0rem;
    }

    .first-item {
        background-color: #0e214c;

        .fa {
            color: white;
        }

        .text-first {
            color: white;
            margin-left: 1rem;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}

.profile {
    .bootstrap-select.btn-group .dropdown-menu {
        width: 250px !important;
    }
}

input[type=checkbox] {
    transform: scale(1.3);

    @include media-breakpoint-down(sm) {
        transform: scale(1) !important;
    }
}

.bg {
    &.section-1 {
        background-color: $section-color-1 !important;
        color: $main-color;
    }

    &.info {
        background-color: $info !important;
        color: $main-color;
    }

    &.info-ligth {
        background-color: $info-ligth !important;
        color: $main-color;
    }

    &.info-ligth-3 {
        background-color: $info-ligth-3 !important;
        color: $gray-dark;
    }

    &.white {
        background-color: white !important;
        color: $gray-dark;
    }
}

.btn {
    outline: none !important;
}

.default {
    color: $default-color;
}

.blue {
    color: $section-color-1 !important;
}

.white {
    color: white;
}

.danger {
    color: $danger !important;
}

.primary {
    color: $primary !important;
}

.info {
    color: $info;
}

.info-ligth {
    color: $info-ligth;
}

.info-ligth-2 {
    color: $info-light-2 !important;
}

@include media-breakpoint-down(sm) {
    h5 {
        font-size: 1rem !important;
    }
}


/* TOASTR */
.toast {
    opacity: 1 !important;
}

.toast-info {
    background-color: $primary;
}

.toast-error {
    background-color: $danger;
}

.toast-success {
    background-color: $success;
}

.toast-warning {
    background-color: $warning;
}

.centered-content {
    background-color: $primary-color;

    // display:block;
    // text-align:center;
    // position:absolute;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2020;

    img {
        display: inline-block;
        width: 280px;
        position: relative;
    }

    .loader-2 {
        display: inline-block;
        top: 53px;
        position: relative;
        left: 30px;
        width: 80px;
        height: 80px;

        .circle {
            width: 44px;
            height: 44px;

            &::after {
                background-color: white;
            }
        }
    }
}

.blockquote {
    margin-top: 2rem;
    font-size: 1rem;
}

h5 {
    font-weigth: bold;
    padding-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: $main-color;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: $main-color;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $section-color-1;
}

/* BOOTSRAP SELECT */
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select {
    width: 100% !important;

    li {
        outline: none !important;

        a, a:hover, a:focus {
            outline: none !important;
        }

        a:hover {
            color: white !important;
        }

        &:hover {
            background-color: $section-color-1;
        }
    }
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.btn-group {
    .btn {
        opacity: 0.7;

        &.active {
            opacity: 1;
        }

        &.btn-default.active {
            opacity: 1;
            background-color: $primary !important;
            color: white;

            &.red {
                background-color: $danger !important;
            }
        }
    }
}
