.is-invalid {
    .invalid-feedback {
        display: block !important;
    }

    .btn {
        border-color: $danger;
    }
}

.btn-fa {
    i {
        position: relative;
        margin-right: 0.5rem;
        top: -1px;
    }
}

.input-group-addon {
    &.danger {
		color: white !important;
        background-color: $danger;
        border-color:$danger;
	}
	
	&.primary {
		color: white !important;
        background-color:$primary;
        border-color: $primary;;
    }
}
