.collapsed {
    .slide-1, .slide-2 {
        height: 100%;

        @include calcImportant("width", "50% - 63px");

        float: left;
    }

    .slide2 {
        @include calcImportant("left", "-100% + 63px");
    }
}

.slide-2x {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0%;

    .card {
        .card-header {
            background-color: $gray-dark;
            color: white;
            padding: 0.5rem 1.25rem;

            &.info-light-two {
                background-color: $primary;
                color: $gray-dark;
            }
        }
    }

    @include animated(all, 0.6s, ease);

    &.full {
        .slide-1, .slide-2 {
            width: 50% !important;
            padding: 1rem 0rem;
        }

        &.slide2 {
            left: -100% !important;
        }
    }

    .slide-1, .slide-2 {
        height: 100%;

        @include calc("width", "50% - 337px");

        float: left;
        padding: 3rem 5rem;

        table {
            width: 100%;

            thead {
                background-color: #292b2c;
                color: white;

                .header {
                    background-color: white;
                    color: $gray-dark;
                }

                th {
                    @include x-user-select;

                    &.actions {
                        cursor: auto;
                        text-align: center;
                    }

                    cursor: pointer;

                    &:after {
                        content: "\f106";
                        display: inline-block;
                        font-family: FontAwesome;
                        left: 5px;
                        position: relative;
                        opacity: 0;
                    }

                    &.asc:after {
                        opacity: 1;
                        content: "\f106";
                    }

                    &.desc:after {
                        opacity: 1;
                        content: "\f107";
                    }
                }
            }
        }
    }

    &.slide2 {
        @include calc("left", "-100% + 337px");
    }
}
