.overflow-hidden{
    overflow: hidden;
}

.btn-small-header{

    font-size: 0.7rem;
    padding: 1px 8px;
    position: absolute;
    top: -23px;
    left: -1px;
    border-bottom-left-radius: 0px;
}

// datepicker

.inline-date{

    width: 200px;
    display: inline-flex;
    top: -5px;
}



/* cursor */

.pointer {
    cursor: pointer !important;
}



.blue-light {
    background-color: #e4f1ff;
}

.title-p0-pt05 {
    padding-bottom: 0;
    padding-top: 0.5rem;
}

.no-spaces {
    padding: 0rem !important;
    margin: 0rem !important;
}

.uppercase {
    text-transform: uppercase;
}

.no-margin {
    margin: 0rem !important;
}

/* MARGIN */

.ml-8{
    margin-left: 8rem;
}
.mt--05 {
    margin-top: -0.5rem;
}

.mr-02 {
    margin-right: 0.2rem;
}

.mr-9-05
{
    margin-right:9.5rem;
}
.mt--3 {
    margin-top: -3rem;
}

.ml-02 {
    margin-left: 0.2rem;
}

/* TOP */
.top--05 {
    position: relative;
    top: -0.5rem;
}

/* PADDING */
.pb-05 {
    padding-bottom: 0.5rem !important;
}

//position top
.pot-05 {
    position: relative;
    top: -0.5rem;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}

/* width */
.w3 {
    width: 3rem;
}

.w4 {
    width: 4rem;
}

.w7 {
    width: 7rem;
}

.w7 {
    width: 10rem;
}

.w-10 {
    width: 10rem;
}

.w-15 {
    width: 15rem;
}

.w30 {
    width: 30rem;
}

.w-20 {
    width: 20rem;
}

.w-25 {
    width: 25rem;
}

.w-30 {
    width: 30rem;
}

.w-35 {
    width: 35rem;
}

.w10p {
    width: 10%;
}

.w13p {
    width: 13%;
}

.mw-3 {
    min-width: 3rem;
}

.mw-5 {
    min-width: 5rem;
}

/* .btn ON OFF */

.btn.on {
    box-shadow: none !important;
    border: transparent !important;
    opacity: 1 !important;
}

.btn.off {
    box-shadow: none !important;
    border: transparent !important;
    opacity: 0.5 !important;
}
