	.dashboard
	{

		.card{
			cursor:pointer;
			background-color: transparent;
			border:none;
			text-align:center;
			color:white;
			margin-top:3rem;
			@include animated(all, 0.5s, ease);

			:hover{
				background-color: $primary;
				@include animated(all, 0.5s, ease);
				.btn-info{
					background-color: $primary !important;
				}
				.card-title{
					color:$section-color-1;	
				}
			}
			
			img{
				margin-top:1rem;
				width:8rem;
				margin-bottom:2rem;
				display:inline-block;
				position: relative;
				left: -10px;

			}

			.card-title{
				font-size:0.98rem;
			}

			.card-text{
				font-size:0.8rem;
				text-align:justify;	

			}
		}

	}