#products {
    .badge-contract-info {
        position: absolute;
        top: -1.2rem;
    }

    .period {
        background-color: #000925;
        color: white;
        padding: 0.6rem 0.5rem 0.7rem;
        display: inline;
        position: relative;
        right: -16px;
        border-radius-top-right: 3px;
        border-radius-bottom-right: 3px;

        .badge {
            position: relative;
            top: -2px;
        }

        p {
            display: inline-block;
            min-width: 8rem;

            @include media-breakpoint-down(sm) {
                width: 6rem;
            }
        }
    }

    .card {
        margin-bottom: 1rem;
        border: none;

        &.totals {
            .card-body {
                padding: 0rem !important;
            }
        }

        .card-header {
            background-color: rgb(157, 204, 210);
            padding: 0.5rem 1rem;
            border: none !important;

            h5 {
                padding: 0rem !important;
                margin: 0rem !important;
            }

            p {
                margin-bottom: 0rem !important;
            }
        }

        .card {
            border: 1px solid $section-color-1;

            .card-header {
                background-color: $section-color-1;
                color: white;
            }

            .card-body {
                color: $gray-dark;
                padding-bottom: 0rem !important;

                section {
                    background-color: #e3f1f3;
                    padding: 0.5rem 1rem 0rem;
                    margin-bottom: 1rem;

                    .row {
                        .row {
                            padding-bottom: 0.5rem;
                            font-size: 0.9rem;

                            .fa-download {
                                cursor: pointer;
                                font-size: 1.2rem;
                                background-color: $section-color-1;
                                color: white;
                                top: 0px;
                                height: 45px;
                                position: absolute;
                                padding-top: 14px;
                                width: 45px;
                                padding-left: 15px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
