h1 {
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h2 {
    @include media-breakpoint-down(sm) {
        font-size: 1.6rem;
    }
}

h3 {
    @include media-breakpoint-down(sm) {
        font-size: 1.3rem;
    }
}

h5 {
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }


    font-weight: 200;
    padding-bottom: 1rem;
}

h4 {
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

section {
    @include media-breakpoint-down(sm) {
        font-size: .9rem;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;

        &.services, &.jobs {
            .container > .row {
                flex-direction: column-reverse;
            }

            .services-list {
                li {
                    font-size: 1rem;
                }
            }
        }

        .svg {
            width: 6rem !important;
        }
    }
}

.btn, input, textarea {
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

#quote {
    @include media-breakpoint-down(sm) {
        overflow-x: auto !important;
        overflow-y: auto !important;
        top: auto;
        position: absolute;
    }


    .modal-header {
        background-color: $section-color-1;
        color: $main-color;

        span {
            color: $main-color;
            position: relative;
            text-shadow: none;
            opacity: 1;
        }

        button {
            outline: none;
        }
    }

    .modal-footer {
        background-color: $section-color-1;
        color: $main-color;
    }
}

.nav-wrapper {
    @media (min-width: 767px) and (max-width: 1449px) {
        width: 100% !important;
        margin: 0rem;
        max-width: 100%;
        flex: 0 0 100%;
        margin-right: 2rem;
        font-size: 0.8rem;
    }
}

.navbar-section {
    position: absolute;
    width: 100%;

    #navbarNav {
        font-size: 1rem;
    }

    @media(min-width: 1643px) { 
        top: 2.5rem;
        &.page{
            top:-0.2rem;
            
            .dropdown-menu {
                margin-top: 32px !important;
                width: 185px !important;
            }
        }
    }


    @media (min-width: 1101px) and (max-width: 1642px) {
        top: 0rem;

        #navbarNav {
            margin-top: 2rem;
            font-size: 0.8rem;
          
        }

        &.page{
            top:-0.2rem;
            
            .dropdown-menu {
                margin-top: 26px !important;
                width: 185px !important;
            }
        }

    }

   

    @media (min-width: 768px) and (max-width: 1100px) {
        top: 0rem;

        #navbarNav {
            margin-top: 4rem;
            font-size: 0.7rem;
            position: absolute;
        }

        &.page{
            top:-0.2rem;
            
            .dropdown-menu {
                margin-top: 8px !important;
                width: 185px !important;
            }
        }
    }
}

.navbar {
    .nav-item {
        cursor: pointer;

        .nav-link {
            color: $main-color;

            @include media-breakpoint-down(sm) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        &.active {
            .nav-link {
                color: $info;
            }
        }

        &:hover {
            .nav-link {
                color: $info;
            }
        }

    
        @include media-breakpoint-down(md) {
            .blue {
                color: white !important;
            }

            .dropdown-menu {
                background-color: $section-color-1;
                border-top: none;
                border-radius: 0px;
            }

            .fa-power-off {
                font-size: 0.9rem;
            }
        }


        @include media-breakpoint-up(md) {
            .dropdown-menu {
                border-top: none;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-top: 13px;
                width: 13rem;
                background-color: rgba(255, 255, 255, 0.1);
                border-color: $primary;
            }
        }


        .dropdown-item {
            @include media-breakpoint-down(sm) {
                background-color: transparent;
                border-top: none;
                padding: 0.5em 1em;
                
                &:hover {
                    background-color: transparent;
                }
            }

            @include media-breakpoint-up(sm) {
                padding: 0.6rem 1rem;
                font-size: 0.8rem;

                color: $main-color;

                &:hover {
                    background-color: $primary;
                }
            }

            @include media-breakpoint-up(lg) {
                padding: 0.8rem 1.2rem;
                font-size: 0.9rem;

                color: $main-color;

                &:hover {
                    background-color: $primary;
                }
            }


            
        }
    }

    #navbarNav {
        @include media-breakpoint-down(sm) {
            background-color: $nav-mobile;
            margin-top: 0.5rem;
            margin-left: -15px;
            margin-right: -15px;
            z-index: 200;

            li {
                a {
                    color: $main-color;
                }

                &.active {
                    a {
                        color: $info;
                    }
                }
            }
        }
    }
}

.navbar-toggler {
    border: none;
    outline: none !important;
}

.navbar-toggler-icon {
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(41, 62, 111, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

.brand {
    color: $white;
    font-weight: 400px;
    position: absolute;
    font-size: 1.5rem;

    .locales {
        margin-left: 5rem;
        top:-7px;
    }

    @include x-user-select(none);


    @media (min-width: 1642px) {
        margin-top: initial;
        font-size: 3rem;
        position: initial;
        margin-left: initial;

        img {
            width: 246px !important;
            position: relative;
            top: -7px;
        }
    }


    @media (min-width: 767px) and (max-width: 1642px) {
        position: absolute;

        &.page {
            position: relative;
            left: 0px;
            top: -0.5rem;
        }

        img {
            width: 200px !important;
            position: relative;
            top: 0rem;
        }

        .locales {
            margin-left: 2rem;
            top: 0rem;
        }
    }


    @include media-breakpoint-down(sm) {
        position: absolute;

        &.page {
            position: relative;
            left: 0px;
            top: -0.5rem;
        }

        img {
            width: 200px !important;
            position: relative;
            top: -1rem;
        }

        .locales {
            margin-left: 2rem;
            top: -1.2rem;
        }
    }
    @include media-breakpoint-down(xs) {
        .locales {
            position: absolute;
            left: -2rem;
            top: 3rem;
        }
    
    }

  

    
}

.main {
    height: 100%;
    background: url("/images/background.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .content {
        color: $main-color;
    }
}

.main-page {
    height: 100%;
    width: 100%;
    background: url(/images/background.jpg) center center no-repeat;
    background-size: cover;
    display: table;
    background-color: #555c6a;

    .content {
        color: $main-color;
    }

    .content-page {
       

        @include media-breakpoint-down(sm) {
            margin-top: 5.5rem;
            display: block;
            border-top: 1px solid #6c9da7 !important;

            table {
                font-size: 0.8rem;
            }
        }


        margin-top: 6rem;
        background-color: rgba(14, 33, 76, 0.6);
        border-top: 2px solid $info;
        width: 100%;
        min-height: calc(100% - 6rem);
        height: 100%;
        display: inherit;
        padding-bottom: 5rem;

        &.normal {
            margin-top: initial;
            background-color: transparent;
            border: none;
            color: white;
            margin-bottom: 8rem;

            > div {
                margin-top: 1rem !important;
            }
        }

        > div {
            margin-top: 5rem;
        }

        hr {
            border-top: 1px solid $section-color-1;
        }

        .wrapper {
            overflow: hidden;
            overflow-x: hidden;
            padding-top: 0.5rem;
        }

        .content-2x {
            @include calc(width, "200% + 60px");

            &.content-card {
                @include calc(width, "200% + 60px");

                .slide-1 {
                    width: calc(50% - 2rem);
                }

                .slide-2 {
                    margin-left: 2rem;
                }
            }

            position: relative;
            left: 0%;

            @include animated(all, 0.5s, ease);

            &.slide2 {
                @include calc(left, "-100% - 30px");
            }

            .slide-1, .slide-2 {
                float: left;
                width: calc(50% - 2rem);
            }

            .slide-2 {
                margin-left: 2rem;
            }
        }
    }
}

.who-we-are {
    padding-top: 5rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
        padding-bottom: 5rem;

        img {
            margin-top: 3rem !important;
        }
    }


    background-color: $section-color-1;
    color: $main-color;

    .image {
        text-align: center;

        img {
            margin-top: 5rem;
            width: 12rem;
            position: relative;
            display: inline-block;
        }
    }

    .content {
        padding-top: 1rem;
    }
}

.insurances {
    padding-top: 5rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down(md) {
        .container {
            width: 100% !important;
        }
    }


    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
        padding-bottom: 3rem;

        .row {
            display: flex;
            flex-direction: column-reverse;
        }
    }


    .images {
        @include media-breakpoint-down(sm) {
            padding-top: 2rem;
        }


        text-align: center;
    }

    .products {
        padding: 0px;
        margin: 0px;
        display: inline-block;

        @include media-breakpoint-down(md) {
            margin-left: -15px;
        }


        li {
            cursor: pointer;
            display: inline-block;
            padding: 1rem 2rem;
            border: 1px solid white;

            @include media-breakpoint-down(lg) {
                img {
                    width: 70px !important;
                }
            }


            @include media-breakpoint-down(md) {
                border: 1px solid white;
                width: 30.3%;
                padding: 1rem 0rem;

                img {
                    width: 35px !important;
                }
            }


            img {
                width: 100px;
            }

            .title {
                padding-top: 0.5rem;
                color: $default-color-2;
                text-align: center;
            }

            &:hover {
                background-color: $primary-light;
                border-radius: 0.2rem;
            }
        }
    }

    .content {
        padding-top: 1rem;
    }
}

.property {
    padding-top: 5rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }


    background-color: $section-color-1;
    color: $main-color;

    .image {
        text-align: center;

        img {
            margin-top: 5rem;
            width: 12rem;
            position: relative;
            display: inline-block;
        }
    }

    .content {
        padding-top: 1rem;

        ul {
            padding: 0px;
            padding-left: 1.1rem;
            margin: 0px;
            list-style-type: square;

            li {
                padding: 0.5rem 0rem;
            }
        }
    }
}

.services {
    padding-top: 5rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
        padding-bottom: 3rem;

        .row {
            display: flex;
            flex-direction: column-reverse;
        }
    }


    .image {
        text-align: center;

        img {
            margin-top: 4rem;
            margin-bottom: 3rem;
            width: 12rem;
            position: relative;
            display: inline-block;
        }
    }

    .content {
        padding-top: 1rem;

        ul {
            padding: 0px;
            padding-left: 1.1rem;
            margin: 0px;
            list-style-type: square;

            li {
                padding: 0.5rem 0rem;
            }
        }
    }
}

.partners {
    padding-top: 5rem;
    padding-bottom: 6rem;

    @include media-breakpoint-down(sm) {
        padding-top: 1rem;
        padding-bottom: 5rem;

        img {
            margin-top: 3rem !important;
        }
    }


    background-color: $section-color-1;
    color: $main-color;

    .images {
        .logo {
            text-align: center;

            img {
                width: 8rem;
                display: inline-block;

                &.helsana {
                    padding-top: 3rem;
                    padding-bottom: 4rem;
                }

                &.zurich {
                    padding-bottom: 3rem;
                }

                &.axa {
                    padding-top: 2rem;
                    padding-bottom: 3rem;
                    width: 6rem;
                }

                &.generali {
                    padding-top: 2rem;
                    width: 7rem;
                }
            }
        }
    }

    .content {
        padding-top: 1rem;

        ul {
            padding: 0px;
            padding-left: 1.1rem;
            margin: 0px;
            list-style-type: square;

            li {
                padding: 0.5rem 0rem;
            }
        }
    }
}

.contact {
    i {
        width: 1rem;
    }

    @include media-breakpoint-down(lg) {
        .container {
            width: 100% !important;
        }
    }


    padding-top: 2rem;
    padding-bottom: 2rem;

    .map {
        min-height: 20rem;
        margin-top: -2rem;
        margin-bottom: -2rem;
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 0rem;

        .container2 {
            width: 100%;
        }

        .map {
            margin-bottom: 0rem;
        }

        .content {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}

footer {
    background-color: $default-color-2;
    color: white;

    .footer-item {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: square;

        @include media-breakpoint-down(md) {
            list-style-type: none;
        }


        li {
            cursor: pointer;

            a {
                color: $main-color !important;
                text-decoration: none !important;

                &:hover, &:active {
                    color: $primary-color !important;
                    text-decoration: none;
                }
            }

            &.active {
                a {
                    color: $primary !important;
                }
            }
        }
    }

    .newsletter {
        input {
            font-size: 0.8rem;
            border: 1px solid $info !important;
        }

        button {
            cursor: pointer;
        }
    }

    .social {
        ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            position: relative;
            top: -0.9rem;

            li {
                display: inline;
                font-size: 2.5rem;
                color: $main-color;
                margin-right: 1rem;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .copyright {
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
